<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="font-size: 1em">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active">Pocetna</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/create-appointment" routerLinkActive="active">Zakazi termin</a>
        </li>
        <li *ngIf="!isDentistLogged()" class="nav-item">
            <a class="nav-link" routerLink="/patient-appointments" routerLinkActive="active">Prikazi termine</a>
        </li>
        <li *ngIf="isDentistLogged()" class="nav-item">
            <a class="nav-link" routerLink="/dentist-calendar" routerLinkActive="active">Prikazi kalendar</a>
        </li>
        <li *ngIf="isDentistLogged()" class="nav-item">
            <a class="nav-link" (click)="logout()">Odjavi se</a>
        </li>
    </ul>
</nav>